.Calculette {
   display: grid;
   grid-template-areas: "nombres opérations";
   grid-template-columns: 400px;
   grid-template-rows: 550px 500px 400px;
   gap: 5px;
}

body {
   padding: 0;
   margin: 0;
   background: rgb(0,0,0);
 }

.First {
   grid-area: Résultat;
}

.First {
   display: grid;
   grid-template-columns: repeat(1, 400px);
}

.Second {
   grid-area: AC/DEL;
}

.Second {
   display: grid;
   grid-template-columns: repeat(2, 200px);
}

.Third {
   grid-area: Opérations;
}
   
.Third {
   display: grid;
   grid-template-columns: repeat(4, 100px);
}
   
   
